In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Load data
file_path = (r"C:\Users\Mnced\Documents\Analysis_Projects\csv_files\job_postings_fact.csv")
data = pd.read_csv(file_path)
data.head()

,job_id,company_id,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg
0,0,0,Data Analyst,Marketing Data Analyst,Anywhere,via LinkedIn,Full-time,True,Serbia,2023-09-25 17:46:06,False,False,Serbia,NaN,NaN,NaN
1,55,1,Cloud Engineer,Storage and Virtualization Engineer,"Kuwait City, Kuwait",via Trabajo.org,Full-time,False,Kuwait,2023-07-30 17:49:18,True,False,Kuwait,NaN,NaN,NaN
2,66,2,Data Analyst,Data Analyst et Scientist F/H,"Paris, France",via Emplois Trabajo.org,Full-time,False,France,2023-07-28 17:28:01,False,False,France,NaN,NaN,NaN
3,76,3,Data Engineer,Data Engineer,"Denver, CO",via LinkedIn,Contractor,False,"Illinois, United States",2023-04-03 17:14:45,False,False,United States,hour,NaN,70.0
4,81,4,Data Engineer,Data Engineer,Anywhere,via LinkedIn,Contractor,True,Canada,2023-03-25 17:25:20,False,False,Canada,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 787686 entries, 0 to 787685
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_id                 787686 non-null  int64
 1   company_id             787686 non-null  int64
 2   job_title_short        787686 non-null  object
 3   job_title              787685 non-null  object
 4   job_location           786633 non-null  object
 5   job_via                787677 non-null  object
 6   job_schedule_type      774981 non-null  object
 7   job_work_from_home     787686 non-null  bool
 8   search_location        787686 non-null  object
 9   job_posted_date        787686 non-null  object
 10  job_no_degree_mention  787686 non-null  bool
 11  job_health_insurance   787686 non-null  bool
 12  job_country            787634 non-null  object
 13  salary_rate            33100 non-null   object
 14  salary_year_avg        22034 non-null   float64
 15  salary_hour_avg        10665 non-null   float64
dtypes: bool(3), float64(2), int64(2), object(9)
memory usage: 80.4+ MB

In [7]:
data.describe().round()

          job_id  company_id  salary_year_avg  salary_hour_avg
count   787686.0    787686.0          22034.0          10665.0
mean    751461.0     97969.0         123269.0             47.0
std     530243.0    160375.0          48271.0             22.0
min          0.0         0.0          15000.0              8.0
25%     278516.0      3332.0          90000.0             28.0
50%     672704.0     23326.0         115000.0             46.0
75%    1185031.0    112107.0         150000.0             61.0
max    1826678.0    787681.0         960000.0            391.0

In [ ]:
# Load data
file_path = (r"C:\Users\Mnced\Documents\Analysis_Projects\csv_files\job_postings_fact.csv")
data = pd.read_csv(file_path)

# Create a copy of the original DataFrame to simulate changes in job titles
df_variant = data.copy()

# Simulate changes in job titles (for demonstration purposes)
# Example: Adding "(New)" to each job title in df_variant
df_variant['job_title_short'] = df_variant['job_title_short'].apply(lambda x: x + ' (New)')

# Simulate engagement data (e.g., number of views/clicks)
np.random.seed(1)
data['views'] = np.random.poisson(lam=100, size=len(data))
df_variant['views'] = np.random.poisson(lam=105, size=len(df_variant))

# Assuming equal sample sizes for simplicity
sample_size = min(len(data), len(df_variant))

# Extract job titles for comparison
variant_a = data['job_title_short'].sample(n=sample_size, random_state=1).values
variant_b = df_variant['job_title_short'].sample(n=sample_size, random_state=1).values

# Perform a t-test for independent samples
t_stat, p_val = ttest_ind(variant_a, variant_b, equal_var=False)

# Output results
print(f'T-test Results:')
print(f'T-statistic: {t_stat}')
print(f'P-value: {p_val}')

# Interpretation of results
alpha = 0.05  # significance level
if p_val < alpha:
    print('Statistically significant difference observed between variants.')
else:
    print('No statistically significant difference observed between variants.')

In [ ]:
# Split data into two groups based on job location
group_a = data[data['job_location'] == 'New York, NY']['job_title_short']
group_b = data[data['job_work_from_home'] == 'Yes']['job_work_from_home']

# Perform A/B test using t-test
t_stat, p_value = stats.ttest_ind(group_a, group_b)

# Output the result
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpret the result
if p_value < 0.05:
    print("The difference in application rates is statistically significant.")
else:
    print("The difference in application rates is not statistically significant.")